<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noor Kitchen</title>

        <!--CSS Files-->
        <link rel="stylesheet" href="css/font-families.css">
        <link rel="stylesheet" href="notification-box/notification_styles.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/css/all.css">
        <link rel="stylesheet" href="css/css/v4-shims.css">
        <link rel="stylesheet" href="css/dashboard.css">

        <!--JS Files-->
        <script src="notification-box/notification_funcs.js" defer></script>
        <script src="js/jspdf.min.js" defer></script>
        <script src="js/jspdf.plugin.autotable.min.js" defer></script>
        <script src="js/logo-uri.js" defer></script>
        <script src="js/Poppins-Bold-normal.js" defer></script>
        <script src="js/Poppins-Regular-normal.js" defer></script>
        <script src="js/receipt-download.js" defer></script>
        <script src="js/transactions.js" defer></script>
        <script src="js/dashboard.js" defer></script>
        <script src="js/search-controls.js" defer></script>
    </head>
    <body>
        <p username hidden><%= username %></p>
        <header>
            <div class="logo">
                <i class="fas fa-utensils"></i>
                <span>Noor Kitchen</span>
            </div>
            <div class="header-icons">
                <i class="fas fa-bars menu-icon"></i>
                <span class="fas fa-times close-side-icon"></span>
                <a href="/"><i class="fas fa-home home-icon"></i></a>
                <i class="fas fa-search search"></i>
            </div>
        </header>
        <div class="items-search">
            <i class="fas fa-times close-search-icon"></i>
            <form action="user-search" method="POST" hidden>
                <input username-field type="text" name="username">
                <input item-field type="text" name="item" placeholder="Search..." required>
                <button send-search-button type="submit"></button>
            </form>
            <div>
                <input item-search-field type="text" name="item" placeholder="Search...">
                <button get-item-name-button style="background: none; outline: none; border: none" class="fas fa-search search-icon"></button>
            </div>
        </div>
        <div class="page-layout">
            <div class="left-part">
                <div class="user-image">
                    <i class="fas fa-user user"></i>
                </div>
                <div class="items">
                    <div class="item">
                        <i class="fas fa-calendar"></i>
                        <p>Purchases History</p>
                    </div>
                    <div class="item">
                        <i class="fas fa fa-gear"></i>
                        <p>Manage Account</p>
                    </div>
                    <div class="item">
                        <i class="fas fa-shopping-bag"></i>
                        <p>Shopping Area</p>
                    </div>
                    <div class="item">
                        <i class="fas fa-envelope"></i>
                        <p>Messages</p>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="boxes">
                    <div class="box">
                        <p class="box-title">Transactions</p>
                        <p class="box-description"><%= allTransactions.length %></p>
                    </div>
                    <div class="box">
                        <p class="box-title">Total Amount</p>
                        <p class="box-description">$<%= total %></p>
                    </div>
                    <div class="box">
                        <p class="box-title">All Items</p>
                        <p class="box-description">6</p>
                    </div>
                </div>
                <div class="sections">
                    <div class="section">
                        <p class="section-title">Purchases History</p>
                        <div class="section-area purchase-history">
                            <% if (allTransactions.length > 0) { %>
                                <table class="table-view" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>View/Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="transactions-table-body">
                                        <% allTransactions.forEach(transaction => { %>
                                            <tr>
                                                <td class="transaction-id"><%= transaction.transactionId %></td>
                                                <td class="center-align"><%= transaction.transactionDate %></td>
                                                <td class="center-align">$<%= transaction.amount %></td>
                                                <td class="center-align" <%= "id=" + `${transaction.transactionId}` %>>
                                                    <button class="view-transaction-button">View</button>
                                                    <button class="remove-transaction-button">Remove</button>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                                <div class="box-view">
                                    <% allTransactions.forEach(transaction => { %>
                                        <div class="transaction-details">
                                            <p>Transaction ID: <span class="transaction-id"><%= transaction.transactionId %></span></p>
                                            <p>Date: <% transaction.transactionDate %></p>
                                            <p>Amount: $<%= transaction.amount %></p>
                                            <div style="margin-top: 1rem;" <%= "id=" + `${transaction.transactionId}` %>>
                                                <button class="view-transaction-button">View</button>
                                                <button class="remove-transaction-button">Remove</button>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            <% } else { %>
                                <p>No purchases to show.</p>
                            <% } %>
                        </div>
                    </div>
                    <div class="section">
                        <p class="section-title">Manage Account</p>
                        <div class="section-area user-information">
                            <div>
                                <p>Username: <%= username %></p>
                                <p>Email: <%= email %></p>
                            </div>
                            <div>
                                <button id="make-update-button">Update Information</button>
                                <div id="update-information-form">
                                    <i class="fas fa-times close-update-information-form"></i>
                                    <p class="section-title">Update Account Information</p>
                                    <input new-username-field type="text" placeholder="New username...">
                                    <input new-email-field type="email" placeholder="New email...">
                                    <input old-password-field type="password" placeholder="Old password...">
                                    <input new-password-field type="password" placeholder="New password...">
                                    <button id="update-account-button">Update</button>
                                    <button id="delete-account-button">Delete Account</button>
                                    <form action="/" method="GET">
                                        <button return-home type="submit" hidden></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <form action="/shopping" method="POST" hidden>
                            <input type="text" user-input-field name="username">
                            <button submit-username-button type="submit"></button>
                        </form>
                    </div>
                    <div class="section">
                        <p class="section-title">Messages</p>
                        <div class="section-area messages">
                            <% if (messages.length > 0) {
                                messages.forEach(message => { %>
                                    <div class="message">
                                        <p class="message-date"><%= message.date %></p>
                                        <p class="message-content"><%= message.message %></p>
                                    </div>
                                <% }) 
                            }  else { %>
                                <p>No messages to show.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>